#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -3;
}

html {
  font-size: 10px;
  background: url(images/cassi-josh-lhnOvu72BM8-unsplash.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

button {
  border: 0.4rem solid white;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
  margin: 0 10px;

}


h1 {
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-size: 70px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.input_div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input_div .input {
  padding: 0.5rem 1rem;
  height: 50px;
  outline: none;
  background-color: white;
  width: 500px;
  border-radius: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.item {
  padding: 10px;
  margin: 20px;
  border-bottom: 4px solid #ffffff;
}

.item_input {
  background: none;
  outline: none;
  color: white;
  border: none;
  width: 350px;

}

.editButton,
.removeButton {
  font-size: 20px;

  background: none;
  outline: none;
  border: none;
  color: white
}